@model NhaCungCap
@{
	Layout = null; // Loại bỏ Layout cho trang này
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/font-end.css" type="text/css">
<div class="container">
	<h3>Thêm nhà cung cấp</h3>
	<div asp-validation-summary="All" class="text-danger"></div>
	<form method="post" enctype="multipart/form-data">
		<label asp-for="Name">Tên nhà cung cấp</label>
		<input asp-for="Name" type="text" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>

		<label asp-for="Address">Địa chỉ</label>
		<input asp-for="Address" type="text" class="form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>

		<label asp-for="PhoneNumber">Số điện thoại</label>
		<input asp-for="PhoneNumber" type="text" class="form-control" />
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>

		<br />
		<button type="submit" class="btn-primary" style="background-color: #00FF00; border:none"> Tạo mới </button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial"></partial>
}
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/mixitup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/font-end.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>