@model Blog
@{
    Layout = null; // Loại bỏ Layout cho trang này
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/font-end.css" type="text/css">
<div class="container">
    <h2>Edit Blog</h2>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label for="Title">Title:</label>
            <input type="text" class="form-control" asp-for="Title" required>
        </div>

        <div class="form-group">
            <label for="Author">Author:</label>
            <input type="text" class="form-control" asp-for="Author" required>
        </div>

        <div class="form-group">
            <label for="CreatedDate">Created Date:</label>
            <input type="date" class="form-control" asp-for="CreatedDate" required>
        </div>

        <div class="form-group">
            <label for="ImageFile">Image:</label>
            <input type="file" class="form-control-file" id="ImageFile" name="NewImageFile" accept=".jpg, .jpeg, .png">
        </div>

        <div class="form-group">
            <label for="Content">Content:</label>
            <textarea class="form-control" asp-for="Content" required rows="6"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: #00FF00; border:none">Save Changes</button>
    </form>

    <a asp-controller="BlogAdmin" asp-action="Index" class="btn btn-primary" style="background-color: #00FF00; border:none">Back to List</a>
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/mixitup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/font-end.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>