@model SanPham
@{
    ViewData["Title"] = "Datatables";
}
@{
    Layout = null; // Loại bỏ Layout cho trang này
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/font-end.css" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    </head>
    <body>
    <table id="sanphamTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <!-- Add more column headers as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var sanphamItem in ViewBag.SanPham)
            {
                <tr>
                    <td>@sanphamItem.Name</td>
                    <td>@sanphamItem.Price</td>
                    <td>@sanphamItem.Description</td>
                    <td><img src="~/images/@sanphamItem.ImageUrl" alt="Image" width="100"></td>
                    <!-- Add more table rows as needed -->
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>

<script>
    $(document).ready(function () {
        $('#sanphamTable').DataTable({
            "paging": true,         // Enable pagination
            "ordering": true,      // Enable sorting
            "searching": true,     // Enable search
            "lengthChange": false, // Disable "Show X entries" dropdown
            "pageLength": 10       // Set default number of rows per page
        });
    });
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/mixitup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/font-end.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>